<!-- Navigation bar -->
  <nav class="navbar is-link is-fixed-top">
    <div class="navbar-brand">
      <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="users#index">
          <span class="icon">
            <i class="fas fa-info"></i>
          </span>
          <span>About</span>
        </a>
        <a class="navbar-item" href="/plants/new">
          <span class="icon">
            <i class="fas fa-bars"></i>
          </span>
          <span>Services</span>
        </a>
        <a class="navbar-item" href="/settings">
          <span class="icon">
            <i class="fas fa-file-alt"></i>
          </span>
          <span>Settings</span>
        </a>
        <a class="navbar-item" href="/gardens">
          <span class="icon">
            <i class="fas fa-th-list"></i>
          </span>
          <span>Garden</span>
        </a>
        <a class="navbar-item" href="/users">
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <span>Homies</span>
        </a>
      </div>
    </div>
  </nav>

   <!-- Header -->
  <section class="hero is-link is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container">Welcome to
        <h1 class="title is-1">
          Komorebi
        </h1>
        <h2 class="subtitle is-3">
          a plant catalogue & care web application.
        </h2>
      </div>
    </div>
  </section>