<%# view buttons for garden=> users plants, log out, "settings", users home%>
<!DOCTYPE html>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" >Komorebi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/plants/new">Seed <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gardens"> Garden</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users">Homies</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            
            <button type="button" class="btn btn-outline-warning my-2 my-sm-0"><%= link_to "Settings", settings_path, method: :get %></button>
            <button type="button" class="btn btn-outline-success my-2 my-sm-0"><%= link_to "Log Out", logout_path, method: :delete %></button>
          </form>
        </div>
      </nav>
    </header>

