<nav id="navbar" class="bd-navbar navbar has-shadow is-spaced">
  <div class="container">
  <div class="navbar-menu">
    <a class="navbar-item" >
          <h4><strong>Komorebi</strong></h4> 
    </a>
  </div>
      
          <a class="button is-success" style="height: 2.25em; padding: calc(.375em - 1px) .75em;" href="/users/new">
              <strong>Register</strong>
            </a>
          <a class="button is-success" style="height: 2.25em; padding: calc(.375em - 1px) .75em;" href="/login">
              <strong>Login</strong>
            </a>
          <div class="navbar-end">
          </p>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>