<div class="container text-center is-size-2">
  <h1>Welcome to Komorebi</h1>
 </div>
 <div class="container text-center is-size-6"> 
  <h4>a web app to catalogue and care for your plants.</h4>

</div>


  