
<br>


<% if @errors%>
    <% @errors.each do |err| %>
        
  <div class="notification is-link is-light">
  <button class="delete"></button>
  <%= err%>
</div>

    <% end%>
<% end%>

<%= render "form" %>