<h1> SIGN UP </h1>
<<<<<<< HEAD
<br>
<font size="+1" face="Comic Sans MS">

<% if @errors%>
    <% @error.each do |err| %>
        <%= err %><br>
    <% end%>
=======
<% if @errors%>
<% @errors.each do |err| %>
<%= err %><br>
<% end%>
>>>>>>> master
<% end%>

<%= render "form" %>