  <section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Settings
      </h1>
      <h2 class="subtitle">
        Primary subtitle
      </h2>
    </div>
  </div>
</section>
<br>
<br>

<%= link_to "Edit User", edit_user_path(current_user)%>
<br>
<br>
<%= link_to "Delete", user_path(current_user), method: 'delete', data: {confirm: "Are you sure?"} %>

