  <section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Settings
      </h1>
      <h2 class="subtitle">
        <br>
        <%= link_to "Edit User", edit_user_path(current_user)%>
        <br>
        <%= link_to "Delete Profile", user_path(current_user), method: 'delete', data: {confirm: "Are you sure?"} %>
        <br>
      </h2>
    </div>
  </div>
</section>



