<br>
<h1>User Profile<%= link_to @user.username, @user %></h1>
<br>
<%= if current_user.id == @user.id
button_to "Edit", edit_user_path(@user) , method: :get 
end%>
<%= if current_user.id == @user.id
button_to "Delete", edit_user_path(@user) , method: :get 
end%>
