/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
 @import "bootstrap";

 .form {
   border-style: solid;
   border-radius: 1px;
   opacity: 68%;
   border-color: #1f9aaf;
   margin: 5em 34em;
   border-radius: 25px
 }

 .form-group {
    margin: 0 3em !important;
 }

 .form-control {
    border-color: #1f9aaf !important;
 }
 
 .header{
   margin: 0;
   background: rgb(82, 212, 78);
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%)
 }


.bg-img { 
   background-image: url(demo.jpg) ;
   background-position: center center;
   background-repeat:  no-repeat;
   background-attachment: fixed;
   background-size:  cover;
   background-color: #999;
   opacity: 35%;

}

.taskbutton { 
      border-style: solid;
      border: 2px solid aquamarine;
      text-align: center;
   }

.plantpage{
   align-content: flex-end;
   border-style: solid;
   border: 2px solid aquamarine;
   border-radius: 5px;
   padding: 3em;
}
body.home {
   background-image: url("original.jpg");
   background-size: cover;
}

.box {
   width: 50px;
   padding: 5em;
}

.width-20 {
   width: 24%;
}

.btn-custom {
   border-style: solid;
   border-color: #21944d;
   color: #13552c !important;
}

th {
   color: white !important;
   padding: 8px 15px 8px 15px !important;
}

td {
   padding: 8px 15px 8px 15px !important;

}

#care {
   margin: 0 0 0 0;
}

#care-attr {
   margin-top: 0;
   font-size: 10px;
   color: rgb(209, 211, 209);
}

.task {
   padding: 5px !important;
   margin: 5px !important;
}

.task-btn {
   padding: 15px 5px;
}

#taskline {
   margin: 0 !important;
}

.trash {
   background: none;
   border: none;
}

.new-task-btn {
   font-size: 20px !important;

}

.new-task {
   padding-top: 20px;
}

.plant-data {
   padding:12em 1em ;
   background-color: #48c774;

}


.overdue-btn {
   color: #dc3545 !important;
   border-color: #dc3545 !important;
}
.overdue-btn:hover {
   background-color: #dc3545 !important;
   color: white !important;
}





// register page at logout

$primary:      hsl(171, 100%, 41%);
$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);


#login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: #F7F7F7;

	.login-card {
		background: #fff;
		width: 24rem;
		box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.11);

		.card-title {
			background-color: darken($primary, 5%);
			padding: 2rem;

			h1 {
				color: #fff;
				text-align: center;
				font-size: 1.2rem;
			}
		}

		.content {
			padding: 3rem 2.5rem 5rem;
		}

		#username, #password {
			display: block;
			width: 100%;
			font-size: 1rem;
			margin-bottom: 1.75rem;
			padding: 0.25rem 0;
			border: none;
			border-bottom: 1px solid $grey-lighter;
			transition: all .5s;

			&:hover {
				border-color: $grey;
			}

			&:active, &:focus {
				border-color: $primary;
			}
		}

		.checkbox {
			color: $grey-light;
			font-size: 0.8rem;

			span {
				margin-left: 0.5rem;
			}
		}

		a {
			font-size: 0.8rem;
		}

		.options {
			color: $grey-light;
			margin-bottom: 1.5rem;
		}

		button {
			cursor: pointer;
			font-size: 1.2rem;
			color: $primary;
			border-radius: 4rem;
			display: block;
			width: 100%;
			background: transparent;
			border: 2px solid $primary;
			padding: 0.9rem 0 1.1rem;
			transition: color .5s, border-color .5s;

			&:hover, &:focus {
				color: darken($primary, 10%);
				border-color: darken($primary, 10%);
			}

			&:active {
				transform: translateY(1px);
			}
		}
	}
}

label {
	cursor: pointer;
}

.regular-checkbox {
	display: none;
}

.regular-checkbox + label {
	background-color: #fafafa;
	border: 1px solid $grey-lighter;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);
	padding: 7px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}

.regular-checkbox:checked + label {
	background-color: #e9ecee;
}

.regular-checkbox:checked + label:after {
	content: '\2714';
	font-size: 11px;
	position: absolute;
	top: 0;
	left: 3px;
	color: $grey-light;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

.glyphicon-heart:before {
	content: "♥";
	margin-right: 4px;
	margin-left: 2px;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}